:80 {
    @keycloak host keycloak.localhost
    handle @keycloak {
        reverse_proxy keycloak:8080
    }

    @app host app.localhost
    handle @app {
        reverse_proxy app:8080
    }

    @vaultwarden host vaultwarden.localhost
    handle @vaultwarden {
        reverse_proxy vaultwarden:80
    }

    handle {
        respond "Not found" 404
    }
}

localhost:8443 {
    tls internal
    reverse_proxy app:8080
}

vaultwarden.localhost:443 {
    tls internal
    reverse_proxy vaultwarden:80
}
